<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Billet simple pour l'Alaska{% endblock %}</title>
        {% block stylesheets %}  
            <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel=stylesheet type="text/css" href="{{asset('Resources/css/billet.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=3r0or8x36u7pn7kkcoa3549djkb1pc4sww7qo01ryiezdcsx"></script>
            {#        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>#}
            <script>tinymce.init({selector: '.tinymce'});
            </script>        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="alert">
            {% for key, flash in app.session.flashbag.all %}
                {% for flashMessage in flash %}
                    <div class="alert alert-{{ key }} alert-dismissible" role="{{ key }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                            {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% block body %}{% endblock %}

</body>
</html>
